
.formbox {
  width: 400px;
  margin-left: auto;
  margin-right:auto;
}

/* \$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"; */
/* \$fa-font-path: "/bower_components/font-awesome/fonts"; */

// bower:scss
/* @import "css/bootstrap.scss"; */
// endbower

@import "../../jspm_packages/github/twbs/bootstrap@3.3.1/css/bootstrap.css";
/**
 * varaiables
 */
 /**
  * varaiables
  */
 $body-padding-top: 0px;

 $navbar-background: #27709b;
 $navbar-background: #474D57;
 $navbar-link-color: white;
 $app-font-size: 13px;
 $app-font-family: "Helvetica Neue", sans-serif;
 $app-font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;

 $sidebar-background-color: #E7E7E7;
 $sidebar-background-color: #F5F5F5;
 $sidebar-width: 220px;

 $sidebar-link-color: #777;
 $sidebar-link-active-color: #333;
 $sidebar-link-active-background-color: #4e4e4e;
 $sidebar-link-weight: 600;
 /*
  * Base structure
  */

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
   padding-top: $body-padding-top;
   font-family: $app-font-family;
   font-family: $app-font-family;
   -webkit-font-smoothing: antialiased;
   font-weight: 400;
   font-size: $app-font-size;
 }

 .navbar-default {
   background-color: $navbar-background;
   .navbar-brand {
     color: $navbar-link-color;
   }
   .navbar-nav > li {
     a {
       color: $navbar-link-color;
     }
   }
 }

 /*
  * Global add-ons
  */

 .sub-header {
   padding-bottom: 10px;
   border-bottom: 1px solid #eee;
 }

 /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
 .navbar-fixed-top {
   border: 0;
 }

 /*
  * Sidebar
  */

 /* Hide for mobile, show later */



 #mainApp > .sidebar {
   display: none;
 }

 @media (min-width: 768px) {
 #mainApp > .sidebar {
     position: fixed;
     top: 50px;
     bottom: 0;
     left: 0;
     z-index: 1000;
     display: block;
     padding: 11px;
     overflow-x: hidden;
     overflow-y: auto;
     /* Scrollable contents if viewport is shorter than content. */
     // background-color: #f5f5f5;
     // border-right: 1px solid #eee;
     background-color: $sidebar-background-color;

     border-top: 1px #DCDCDC solid;
     border-right: 1px solid #CCC;
     width: $sidebar-width;
   }
 }

 /* Sidebar navigation */
 .nav-sidebar {
   margin-right: -21px;
   /* 20px padding + 1px border */
   margin-bottom: 20px;
   margin-left: -20px;
 }

 .nav-sidebar > li > a {
   padding-right: 20px;
   padding-left: 20px;
   color: $sidebar-link-color;
 }

 .nav-sidebar > .active > a,
 .nav-sidebar > .active > a:hover,
 .nav-sidebar > .active > a:focus {
   color: $sidebar-link-active-color;
   background-color: $sidebar-link-active-background-color;
   font-weight: $sidebar-link-weight;
 }


.welcome-box {
  padding: 15px;
  display: block;
  color: white;
  font-weight: bold;
}
 /*
  * Main content
  */

.main {
   padding: 0px;
   left: $sidebar-width ;
   overflow: hidden;
   right: 0;
   position: absolute;
   top: 40px;
   .content {
     padding: 0px 10px;
   }
 }

.centerbox {
  top: 100px;
  position: relative;
}

 @media (min-width: 768px) {
   .main {
     padding-right: 15px;
     padding-left: 15px;
   }
 }

 .main .page-header {
   margin-top: 0;
 }

 .side-caption {
   color: #5e5e5e;
   font-weight: bold;
 }

 #app_container {
   height: 100%;
   width: 100%;
   overflow: auto;
   iframe {
     border: 0px;
   }
 }

 $left-pane-width: 200px;

 .split_pane{
   z-index: 9;
   display: block;
   width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   // margin: 0;
   // padding: 0;
   // border: 0;
   // outline: 0;
   // vertical-align: baseline;
   // background: rgba(0, 0, 0, 0);
   .pane.left{
     overflow-y: visible;
     overflow-x: hidden;
     width: $left-pane-width;
     background-color: #F8F8F8;
     left: $sidebar-width;
     position: fixed;
     right: 0;
     z-index: 3;
     bottom: 0;
     top: $body-padding-top;
   }

   .pane.right{
     left: $left-pane-width + $sidebar-width;
     border-left: 1px solid #D5D5D5;
     position: fixed;
     right: 0;
     overflow: hidden;
     display: block;
     bottom: 0;
     top: $body-padding-top;
   }
 }

 .ax-grid-action-1 {
   width : 16px;
 }

 .ax-grid-action-2 {
   width : 32px;
 }

 .ax-grid-action-3 {
   width : 48px;
 }

.header-btn {
   margin-top: 18px;
 }

.btn-right-space {
  margin-right: 15px;
}

.nav-caption {
  margin-bottom: 0px;
  border-bottom: 1px solid #DEDEDE;
}


.nav-content {
  margin-left: -10px;
}

.account-details-hdr {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #3d3d3d;
}


.delete-icon {
  cursor: pointer;
}
